page {
	background-color: #f0f0f0;
}

.container {
	margin-bottom: 80px;
	width: 100%;
}

.containerX {
	margin-bottom: 80px;
}

.shouye_top {
	width: 100%;
	height: 46px;
	font-size: 32rpx;
	font-weight: bold;
	color: #e9564f;
	line-height: 46px;
	letter-spacing: 2rpx;
}

.shouye_top button {
	background-color: transparent;
}

.shouye_top_left {
	position: relative;
	float: left;
	margin-left: 30rpx;
	line-height: 46px;
}

.shouye_coinImg {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 48rpx;
	height: 48rpx;
}

.shouye_rightImg {
	position: relative;
	top: -2.5rpx;
	margin-left: 10rpx;
	width: 9rpx;
	height: 16rpx;
}

.shouye_top_left text {
	position: relative;
	top: 9rpx;
	margin-left: 58rpx;
	color: #be7034;
	font-size: 50rpx;
	line-height: 1;
}

.sign_bubbleImg {
	position: absolute;
	top: 20px;
	right: -28rpx;
	z-index: 9998;
	width: 200rpx;
	height: 110rpx;
	opacity: 0;
}

.shouye_top_right {
	margin-top: 11px;
	margin-right: 30rpx;
	float: right;
	width: 132rpx;
	height: 25px;
	font-size: 24rpx;
	color: #e9564f;
	line-height: 25px;
	border-radius: 12.5px;
	background-color: #f2f2f2;
	border: 1rpx solid #e9564f;
	overflow: visible;
}

.shouye_top_right1 {
	color: #9a9a9a;
	border: 1rpx solid #b2b2b2;
}

.shouye_top_right text {
	font-size: 26rpx;
	color: #1a1a1a;
}

.sign_rightImg {
	position: relative;
	top: 2.5rpx;
	margin-right: 10rpx;
	width: 24rpx;
	height: 24rpx;
}

.sign_rightImg1 {
	position: relative;
	top: -1rpx;
	margin-left: 10rpx;
	width: 10rpx;
	height: 16rpx;
}

.indexBtn {
	margin-bottom: 20rpx;
	line-height: normal;
	text-align: inherit;
}

.indexBtn1 {
	margin-top: 20rpx;
	line-height: normal;
	text-align: inherit;
}

.index_list {
	position: relative;
	background-color: #ffffff;
}

.index_listab {
	margin-bottom: 20rpx;
}

.list_img {
	position: relative;
}

.lotteryImg {
	width: 100%;
	height: 340rpx;
}

.partStatusImg {
	position: absolute;
	left: 0;
	top: 0;
	width: 76rpx;
	height: 76rpx;
}

.list_tag {
	position: absolute;
	top: 20rpx;
	right: 20rpx;
	padding-left: 20rpx;
	padding-right: 20rpx;
	font-size: 22rpx;
	color: #ffffff;
	height: 30px;
	line-height: 30px;
	border-radius: 5rpx;
	letter-spacing: 1rpx;
	background-color: rgba(0, 0, 0, 0.7);
}

.list_content {
	position: relative;
	padding-left: 30rpx;
	padding-bottom: 30rpx;
	padding-right: 30rpx;
}

.list_lottery {
	margin-top: 26rpx;
	font-size: 32rpx;
	color: #1a1a1a;
	line-height: 40rpx;
	word-break: break-all;
}

.list_rule {
	margin-top: 20rpx;
	font-size: 26rpx;
	color: #ababab;
}

.list_condition {
	margin-top: 30rpx;
	height: 25px;
	font-size: 28rpx;
	color: #ababab;
	line-height: 25px;
}

.list_condition text {
	padding-left: 20rpx;
	padding-right: 20rpx;
	height: 25px;
	font-size: 24rpx;
	color: #666666;
	border-radius: 12.5px;
	background-color: #e6e6e6;
	display: inline-block;
}

.index_more {
	margin-top: 30rpx;
	height: 45px;
	font-size: 28rpx;
	color: #e9564f;
	text-align: center;
	line-height: 45px;
	background-color: #ffffff;
}

.index_link {
	height: 128rpx;
	line-height: 128rpx;
	font-size: 28rpx;
	color: #666666;
}

.index_link_1 {
	float: left;
	width: 50%;
	font-size: 28rpx;
	color: #666666;
	line-height: 128rpx;
	text-align: right;
	background-color: transparent;
}

.index_link_2 {
	float: left;
	width: 50%;
	font-size: 28rpx;
	color: #666666;
	text-align: left;
	line-height: 128rpx;
	background-color: transparent;
}

.mContainer {
	margin-bottom: 65px;
}

.mine_top_bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 86px;
	background-color: #e9564f;
}

.mine_container {
	position: relative;
	margin-top: 10px;
	z-index: 998;
	width: 92%;
	margin: auto;
	border-radius: 10rpx;
	background-color: #ffffff;
}

.userInfoMode {
	position: absolute;
	right: 0;
	top: 51px;
	height: 25px;
	display: flex;
	flex-direction: row;
	line-height: 25px;
	border-top-left-radius: 25rpx;
	border-bottom-left-radius: 25rpx;
	background-color: #333333;
}

.editImg {
	position: relative;
	top: 49%;
	transform: translateY(-50%);
	padding-left: 20rpx;
	width: 24rpx;
	height: 24rpx;
}

.editTxt {
	padding-right: 20rpx;
	padding-left: 10rpx;
	font-size: 24rpx;
	color: #ffd805;
}

.nameContainer {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.nameContainer_left {
	margin-top: 50rpx;
	margin-left: 40rpx;
	display: flex;
	flex-direction: row;
}

.nameContainer_right {
	display: flex;
	flex-direction: row;
	margin-top: 50rpx;
	line-height: 120rpx;
	background-color: transparent;
}

.nameContainer_right_address {
	margin-right: 20rpx;
	font-size: 26rpx;
	color: #ababab;
}

.nameContainer_right_image {
	position: relative;
	top: 48rpx;
}

.avatar {
	width: 120rpx;
	height: 120rpx;
	border-radius: 50%;
}

.mine_name {
	margin-left: 30rpx;
	font-size: 34rpx;
	color: #1a1a1a;
	font-weight: 500;
	line-height: 120rpx;
}

.userSex {
	position: relative;
	top: 1.4px;
	width: 15px;
	height: 15px;
}

.mine_content {
	margin-top: 90rpx;
	padding-bottom: 40rpx;
	width: 100%;
	height: 75rpx;
}

.mine_content_list {
	float: left;
	width: 33.3%;
	text-align: center;
	line-height: normal;
	background-color: transparent;
}

.content_num {
	margin-bottom: 10rpx;
	display: block;
	font-size: 30rpx;
	color: #333333;
	font-weight: 600;
}

.content_pow {
	display: block;
	font-size: 24rpx;
	color: #ababab;
}

.mine_user_set {
	margin: auto;
	margin-top: 20rpx;
	width: 92%;
	height: 104rpx;
	border-radius: 10rpx;
	background-color: white;
}

.mine_user_set button {
	line-height: 104rpx;
	height: 104rpx;
	background-color: transparent;
	border-radius: 10rpx !important;
}

.mine_user_set1 {
	margin: auto;
	margin-top: 20rpx;
	width: 92%;
	height: 307rpx;
	background-color: white;
	border-radius: 10rpx;
}

.mine_user_set1 button {
	height: 104rpx;
	line-height: 104rpx;
	background-color: transparent;
}

.mine_user_set_list {
	width: 100%;
	height: 104rpx;
	line-height: 104rpx;
	display: inline-block;
	border-radius: 10rpx 10rpx 0 0 !important;
}

.mine_user_set_list1 {
	width: 100%;
	height: 104rpx;
	line-height: 104rpx;
	display: inline-block;
	border-radius: 0 0 10rpx 10rpx !important;
}

.mine_user_set_list2 {
	width: 100%;
	height: 104rpx;
	line-height: 104rpx;
	display: inline-block;
	border-radius: 0 0 0 0 !important;
}

.mine_user_set_button {
	padding-left: 0;
	padding-right: 0;
	width: 100%;
	line-height: 104rpx;
	display: inline-block;
	border: none;
	border-radius: 0 0 10rpx 10rpx;
	background-color: #ffffff;
}

.mine_user_set_button::after {
	border-radius: 0;
	border: none;
}

.mine_user_set_left {
	float: left;
	margin-left: 40rpx;
}

.user_set_left_image {
	position: relative;
	top: 7rpx;
	width: 36rpx;
	height: 36rpx;
}

.user_set_left_txt {
	margin-left: 30rpx;
	font-size: 30rpx;
	color: #333333;
}

.mine_user_set_right {
	float: right;
}

.set_right_txt {
	position: relative;
	top: -1rpx;
	margin-right: 20rpx;
	margin-bottom: 5rpx;
	display: inline-block;
	font-size: 30rpx;
	color: #808080;
}

.set_right_dian {
	margin-right: 20rpx;
	margin-bottom: 5rpx;
	display: inline-block;
	width: 16rpx;
	height: 16rpx;
	border-radius: 50%;
	background-color: #fb9f0f;
}

.user_set_right_image {
	margin-right: 40rpx;
	width: 16rpx;
	height: 26rpx;
}

.money_num {
	position: relative;
	top: -1.5px;
	margin-right: 20rpx;
	font-size: 28rpx;
	color: #ababab;
}

.msg_count {
	position: relative;
	top: -3px;
	margin-right: 20rpx;
	padding-top: 2px;
	padding-bottom: 3px;
	padding-left: 10rpx;
	padding-right: 10rpx;
	font-size: 22rpx;
	color: #ffffff;
	border-radius: 30rpx;
	background-color: #ff4e4e;
}

.msg_count1 {
	padding: 0;
	width: 16px;
	height: 16px;
	line-height: 16px;
	border-radius: 50%;
	text-align: center;
	display: inline-block;
}

.isPhone {
	height: 150rpx;
	background-color: #f0f0f0;
}

.iphoneX {
	height: 65px;
}

.indexshouye {
	background-color: transparent;
}

.signPopImg {
	position: absolute;
	top: 15rpx;
	right: 15rpx;
	width: 50rpx;
	height: 50rpx;
}

.signPop_title {
	margin-top: 50rpx;
	font-size: 40rpx;
	color: #1a1a1a;
	text-align: center;
	font-weight: bolder;
}

.signPop_txt1 {
	margin-top: 45rpx;
	font-size: 30rpx;
	color: #333333;
	text-align: center;
	line-height: 60rpx;
}

.signPop_txt2 {
	font-size: 30rpx;
	color: #333333;
	text-align: center;
	line-height: 60rpx;
}

.signPop_txt1 text {
	color: #e9564f;
}

.signPop_txt2 text {
	color: #e9564f;
}

.signBtn {
	margin-top: 45rpx;
	margin-bottom: 60rpx;
	width: 480rpx;
	height: 88rpx;
	font-size: 30rpx;
	color: #ffffff;
	border-radius: 44rpx;
	line-height: 88rpx;
	background-color: #e9564f;
}

.welfare {
	position: relative;
	margin-top: -20rpx;
}

.welfare_title {
	margin-left: 30rpx;
	display: block;
	height: 92rpx;
	font-size: 32rpx;
	color: #e9564f;
	line-height: 92rpx;
	font-weight: bolder;
}

.welfare_container {
	padding: 30rpx;
	background-color: #ffffff;
}

.welfare_container1 {
	display: flex;
	flex-direction: row;
	height: 150rpx;
	border: 1rpx solid #f0f0f0;
	border-radius: 10rpx;
}

.welfare_container button {
	background-color: transparent !important;
}

.welfare_container_left {
	position: relative;
}

.welfareImg {
	width: 300rpx;
	height: 150rpx;
	border-top-left-radius: 10rpx;
	border-bottom-left-radius: 10rpx;
}

.joinStatusImg {
	position: absolute;
	left: 0;
	top: 0;
	width: 76rpx;
	height: 76rpx;
	border-top-left-radius: 10rpx;
}

.welfare_container_right {
	padding-top: 10rpx;
	padding-left: 20rpx;
	padding-bottom: 20rpx;
	padding-right: 10rpx;
	width: 53%;
	background-color: #f0f0f0;
	border-top-right-radius: 10rpx;
	border-bottom-right-radius: 10rpx;
}

.wc_right_title {
	font-size: 26rpx;
	color: #1a1a1a;
	line-height: 1.5;
	overflow: hidden;
	white-space: nowrap;
	word-break: break-all;
}

.wc_right_sponsor {
	padding-left: 12rpx;
	padding-right: 12rpx;
	margin-top: 14rpx;
	display: inline-block;
	height: 16px;
	line-height: 16px;
	font-size: 20rpx;
	color: #808080;
	border-radius: 5rpx;
	background-color: #d9d9d9;
}

.wc_right_sponsor1 {
	margin-top: 16rpx;
	height: 16px;
	background-color: #f0f0f0;
}

.wc_right_time {
	margin-top: 15rpx;
	font-size: 22rpx;
	color: #808080;
	line-height: 1;
}

.welfare_container2 {
	margin-top: 0rpx;
}

.info_sync {
	display: flex;
	flex-direction: column;
}

.mine_name_sync {
	margin-top: 10rpx;
	margin-left: 30rpx;
	font-size: 34rpx;
	color: #1a1a1a;
	font-weight: 500;
}

.sync_data {
	margin-top: 15rpx;
	margin-left: 30rpx;
	padding-left: 20rpx;
	padding-right: 20rpx;
	height: 40rpx;
	font-size: 22rpx;
	color: #e9564f;
	line-height: 40rpx;
	border-radius: 20rpx;
	border: 1rpx solid #e9564f;
	background-color: transparent !important;
}
