.container-content {
    width: 690rpx;
    height: 566rpx;
    background: #fff;
    margin: 33rpx auto
}
.content-header {
    height: 120rpx;
    line-height: 120rpx;
    border-bottom: 2rpx solid #f0f0f0;
    padding-left: 80rpx;
    font-size: 32rpx
}
.content-header span {
    color: #90d981;
    margin-left: 113rpx
}
.body-header {
    height: 120rpx;
    line-height: 120rpx;
    padding-left: 80rpx;
    font-size: 32rpx
}
.item-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center
}
.money-input {
    width: 550rpx;
    margin: auto;
    font-size: 72rpx;
    border-bottom: 2rpx solid #F0F0F0;
    padding-bottom: 50rpx;
    padding-left: 20rpx;
    input {
        border: 0;
        width: 400rpx;
        height: 80rpx;
        margin-left: 30rpx
    }
}
.submit-button {
    margin: 60rpx auto 80rpx;
    text-align: center;
    button {
        width: 500rpx;
        height: 80rpx;
        font-size: 32rpx;
        border: 0;
        border-radius: 20rpx;
        padding: 0;
        background-color: #ffd300;
        color: #fff;
    }
}