.container-header {
    background-color: #fff;
    padding: 20rpx;
    .title {
        display: inline-block;
        vertical-align: middle;
        width: 540rpx;
        font-size: 30rpx;
        font-weight: bold;
        margin-right: 20rpx;
    }
    .remark {
        display: inline-block;
        vertical-align: middle;
        width: 150rpx;
        height: 50rpx;
        line-height: 50rpx;
        text-align: center;
        font-size: 22rpx;
        padding: 0;
        background-color: #EB6231;
        color: #fff;
        border-radius: 10rpx;
        .iconfont {
            font-size: 22rpx;
            vertical-align: baseline;
        }
    }
    .info {
        color: #A0A0A0;
        margin-top: 10rpx;
        position: relative;
        .cate {
            display: inline-block;
            vertical-align: middle;
            margin-right: 10rpx;
        }
        .dynamic {
            display: inline-block;
            vertical-align: middle;
            margin-right: 10rpx;
        }
        .price {
            display: inline-block;
            vertical-align: middle;
        }
        .distance {
            display: inline-block;
            vertical-align: middle;
            text-align: right;
            position: absolute;
            right: 20rpx;
        }
    }
    .tags {
        color: #A0A0A0;
        margin-top: 10rpx;
        .tag {
            display: inline-block;
            vertical-align: middle;
            border: 1rpx solid #eee;
            margin-right: 10rpx;
            padding: 3rpx 5rpx;
            border-radius: 5rpx;
        }
    }
    .banners {
        width: 710rpx;
        overflow: hidden;
        white-space: nowrap;
        margin: 20rpx 0 0 0;
        .img {
            display: inline-block;
            vertical-align: middle;
            width: 250rpx;
            height: 180rpx;
            white-space: nowrap;
            margin-right: 20rpx;
            img {
                width: 100%;
                height: 100%;
                border-radius: 20rpx;
            }
        }
    }
    .time {
        margin: 20rpx 0;
        padding-bottom: 20rpx;
        border-bottom: 1rpx solid #ECECEB;
        .iconfont {
            display: inline-block;
            vertical-align: middle;
            width: 50rpx;
        }
        .time-detail {
            display: inline-block;
            vertical-align: middle;
            width: 660rpx;
        }
    }
    .location {
        .iconfont {
            display: inline-block;
            vertical-align: top;
            width: 50rpx;
        }
        .address {
            display: inline-block;
            vertical-align: middle;
            width: 540rpx;
            padding-right: 20rpx;
        }
        .phone {
            display: inline-block;
            vertical-align: middle;
            width: 100rpx;
            text-align: center;
            border-left: 1rpx solid #ECECEB;
            box-sizing: border-box;
        }
    }
}
.products {
    margin-top: 20rpx;
    padding: 20rpx;
    background-color: #fff;
    .top {
        .left {
            display: inline-block;
            vertical-align: middle;
            width: 355rpx;
            font-size: 30rpx;
            font-weight: bold;
        }
        .right {
            display: inline-block;
            vertical-align: middle;
            width: 355rpx;
            text-align: right;
            color: #A2A1A2;
            font-size: 22rpx;
        }
    }
    .list-item {
        margin: 20rpx 0 0;
        .product-thumb {
            display: inline-block;
            vertical-align: middle;
            width: 100rpx;
            height: 100rpx;
            margin-right: 20rpx;
            img {
                width: 100%;
                height: 100%;
                border-radius: 10rpx;
            }
        }
        .product-detail {
            display: inline-block;
            vertical-align: middle;
            width: 440rpx;
            .product-description {
                color: #A2A1A2;
                font-size: 22rpx;
            }
            .product-price {
                color: #EC6E41;
                font-size: 28rpx;
            }
        }
        .product-arrow {
            display: inline-block;
            vertical-align: middle;
            width: 150rpx;
            color: #A2A1A2;
            text-align: right;
            font-size: 22rpx;
        }
    }
}
.tabBar {
    margin-top: 20rpx;
    display: -webkit-flex;
    display: flex;
    position: relative;
    background-color: #fff;
    border-bottom: 2rpx solid #ECECEB;
    span {
        width: calc(100% / 3);
        text-align: center;
        height: 80rpx;
        line-height: 80rpx;
        font-size: 32rpx;
        color: #222529;
        font-weight: bold;
    }
    .active {
        border-bottom: 5rpx solid #ffd300;
    }
}
.container-body {
    background-color: #fff;
    padding: 20rpx;
    .dynamic-list {
        .list-item {
            position: relative;
            padding: 20rpx 0;
            &:after {
                content: "";
                position: absolute;
                z-index: 0;
                bottom: 0;
                left: 0;
                width: 710rpx;
                border-bottom: 2rpx solid #ECECEB;
                -webkit-transform: scaleY(.5);
                transform: scaleY(.5);
                -webkit-transform-origin: 0 0;
                transform-origin: 0 0;
            }
            .left {
                display: inline-block;
                vertical-align: top;
                width: 80rpx;
                height: 80rpx;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }
            .right {
                display: inline-block;
                vertical-align: top;
                width: 610rpx;
                margin-left: 20rpx;
                .top {
                    margin-bottom: 10rpx;
                    .name {
                        display: inline-block;
                        vertical-align: middle;
                        width: 350rpx;
                    }
                    .time {
                        display: inline-block;
                        vertical-align: middle;
                        width: 260rpx;
                        text-align: right;
                        color: rgba(0, 0, 0, 0.3);
                    }
                }
                .content {
                    margin-top: 10rpx;
                }
                .images {
                    .image-item {
                        display: inline-block;
                        vertical-align: middle;
                        position: relative;
                        width: calc(590rpx/3);
                        height: calc(590rpx/3);
                        margin: 10rpx 0 0 10rpx;
                        &:nth-child(3n+1) {
                            margin-left: 0;
                        }
                        img {
                            width: 100%;
                            height: 100%;
                        }
                        .count {
                            position: absolute;
                            right: 10rpx;
                            bottom: 10rpx;
                            color: #fff;
                            border-radius: 10rpx;
                            padding: 3rpx 10rpx;
                            font-size: 20rpx;
                            background-color: #000;
                            opacity: 0.5;
                            .iconfont {
                                margin-right: 10rpx;
                                font-size: 20rpx;
                                vertical-align: baseline;
                            }
                        }
                    }
                }
            }
        }
    }
    .people-list {
        .list-item {
            padding: 20rpx 0;
            margin-top: 10rpx;
            background-color: #fff;
            &:first-child {
                margin-top: 0;
            }
            .left {
                display: inline-block;
                vertical-align: top;
                width: 130rpx;
                height: 130rpx;
                margin-right: 20rpx;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .right {
                display: inline-block;
                vertical-align: top;
                width: 560rpx;
                .top {
                    .name {
                        display: inline-block;
                        vertical-align: middle;
                        width: 320rpx;
                        font-size: 32rpx;
                        font-weight: bold;
                    }
                    .distance {
                        display: inline-block;
                        vertical-align: middle;
                        width: 240rpx;
                        text-align: right;
                        color: #A0A0A0;
                        font-size: 26rpx;
                    }
                }
                .info {
                    margin-top: 10rpx;
                    .age {
                        display: inline-block;
                        vertical-align: middle;
                        width: 80rpx;
                        color: #fff;
                        border-radius: 20rpx;
                        background-color: #EB6231;
                        padding: 0 10rpx;
                        text-align: center;
                        margin-right: 10rpx;
                        .iconfont {
                            font-size: 24rpx;
                            vertical-align: baseline;
                        }
                    }
                    .level {
                        display: inline-block;
                        vertical-align: middle;
                        width: 80rpx;
                        color: #fff;
                        border-radius: 20rpx;
                        background-color: #ffd300;
                        padding: 0 10rpx;
                        text-align: center;
                    }
                }
                .signature {
                    margin-top: 10rpx;
                    color: #A0A0A0;
                    font-size: 26rpx;
                }
            }
        }
    }
}