.main {
    background-color: #fff;
}
.bgimage {
    width: 100%;
    height: 100%;
    .bg {
        width: 750rpx;
        height: 1334rpx;
    }
    .waves {
        position: absolute;
        width: 60rpx;
        height: 60rpx;
        border-radius: 50%;
        -webkit-backface-visibility: hidden;
        margin: auto;
        &:before, &:after {
            position: absolute;
            background-color: #fff;
            width: 60rpx;
            height: 60rpx;
            content: "";
            display: block;
            border-radius: 50%;
            -webkit-backface-visibility: hidden;
        }
        &:before {
            animation: wave-animate 3s infinite ease-out;
        }
        &:after {
            opacity: 0;
            animation: wave-animate 3s 1.5s infinite ease-out;
        }
        @keyframes wave-animate {
            0% {
                transform: scale(0);
                opacity: 1;
                transform-origin: center;
            }
            100% {
                transform: scale(1.5);
                opacity: 0;
                transform-origin: center;
            }
        }
        img {
            width: 30rpx;
            height: 30rpx;
            margin: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 999;
            border-radius: 50%;
            border: 5rpx solid #fff;
        }
    }
}
.img {
    width: 100%;
    height: 1200rpx;
    overflow: hidden;
}
.tabBar {
    display: -webkit-flex;
    display: flex;
    position: fixed;
    top: 0;
    width: 750rpx;
    background-color: #fff;
    border-bottom: 2rpx solid #ECECEB;
    z-index: 9999;
    .tab-item {
        width: calc(750rpx/3);
        text-align: center;
        height: 80rpx;
        line-height: 80rpx;
        font-size: 32rpx;
        color: #222529;
        font-weight: bold;
        .iconfont {
            font-size: 18rpx;
        }
    }
    .active {
        border-bottom: 5rpx solid #ffd300;
    }
    .tab1 {
        background: linear-gradient(-80deg, transparent 17rpx, #F2F2F2 0, #F2F2F2, #FDFCFD);
    }
    .tab2 {
        background: linear-gradient(80deg, transparent 17rpx, #F2F2F2 0, #F2F2F2, #FDFCFD);
    }
    .tab_active1 {
        color: #ffd300;
        background: linear-gradient(-80deg, transparent 17rpx, #fff 0, #fff);
    }
    .tab_active2 {
        color: #ffd300;
        background: linear-gradient(80deg, transparent 17rpx, #fff 0, #fff);
    }
}
.people-list {
    padding-top: 80rpx;
    .list-item {
        padding: 20rpx;
        margin-top: 10rpx;
        background-color: #fff;
        &:first-child {
            margin-top: 0;
        }
        .left {
            display: inline-block;
            vertical-align: top;
            width: 130rpx;
            height: 130rpx;
            margin-right: 20rpx;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .right {
            display: inline-block;
            vertical-align: top;
            width: 560rpx;
            .top {
                .name {
                    display: inline-block;
                    vertical-align: middle;
                    width: 320rpx;
                    font-size: 32rpx;
                    font-weight: bold;
                }
                .distance {
                    display: inline-block;
                    vertical-align: middle;
                    width: 240rpx;
                    text-align: right;
                    color: #A0A0A0;
                    font-size: 26rpx;
                }
            }
            .info {
                margin-top: 10rpx;
                .age {
                    display: inline-block;
                    vertical-align: middle;
                    width: 80rpx;
                    color: #fff;
                    border-radius: 20rpx;
                    background-color: #EB6231;
                    padding: 0 10rpx;
                    text-align: center;
                    margin-right: 10rpx;
                    .iconfont {
                        font-size: 24rpx;
                        vertical-align: baseline;
                    }
                }
                .level {
                    display: inline-block;
                    vertical-align: middle;
                    width: 80rpx;
                    color: #fff;
                    border-radius: 20rpx;
                    background-color: #ffd300;
                    padding: 0 10rpx;
                    text-align: center;
                }
            }
            .signature {
                margin-top: 10rpx;
                color: #A0A0A0;
                font-size: 26rpx;
            }
        }
    }
}
.panel {
    width: 750rpx;
    height: auto;
    position: fixed;
    top: 80rpx;
    z-index: 9999;
    background-color: #fff;
    border-top: 1rpx solid #ECECEB;
    .condition {
        padding: 0 20rpx 20rpx;
    }
    .item {
        margin-top: 20rpx;
        border-bottom: 1rpx solid #ECECEB;
        &:last-child {
            border-bottom: 0;
        }
        .label {
            padding-bottom: 20rpx;
        }
        .button {
            display: inline-block;
            vertical-align: middle;
            border-radius: 10rpx;
            width: 150rpx;
            height: 50rpx;
            line-height: 50rpx;
            background-color: #eee;
            margin-right: 20rpx;
            text-align: center;
            margin-bottom: 20rpx;
        }
        .active {
            background-color: #ffd300;
        }
        .input {
            input {
                display: inline-block;
                vertical-align: middle;
                background-color: #eee;
                border-radius: 20rpx;
                width: 300rpx;
                height: 50rpx;
                line-height: 50rpx;
                padding-left: 10rpx;
            }
        }
    }
}
.button-group {
    margin-top: 20rpx;
    .reset-button {
        display: inline-block;
        vertical-align: middle;
        width: 375rpx;
        height: 80rpx;
        line-height: 80rpx;
        color: #fff;
        background-color: #ff5e45;
        text-align: center;
    }
    .confirm-button {
        display: inline-block;
        vertical-align: middle;
        width: 375rpx;
        height: 80rpx;
        line-height: 80rpx;
        color: #fff;
        background-color: #ffd300;
        text-align: center;
    }
}
.floor {
    position: fixed;
    top: 120rpx;
    left: 50rpx;
    width: 80rpx;
    background-color: #fff;
    border-radius: 10rpx;
    text-align: center;
    i {
        font-size: 50rpx;
    }
    .floor-active {
        color: #ffd300;
        height: 40rpx;
    }
    .floor-number {
        height: 80rpx;
        line-height: 80rpx;
        border-top: 2rpx solid #ECECEB;
    }
    .active {
        color: #ffd300;
    }
}
.show-type {
    position: fixed;
    bottom: 50rpx;
    left: 50rpx;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    padding: 10rpx;
    i {
        font-size: 50rpx;
    }
}
.goods {
    background-color: #fff;
    display: flex;
    position: absolute;
    top: 82rpx;
    bottom: 92rpx;
    width: 100%;
    overflow: hidden;
    .menu-wrapper {
        flex: 0 0 160rpx;
        width: 160rpx;
        background: #f3f5f7;
        .menu-item {
            display: table;
            height: 108rpx;
            width: 112rpx;
            padding: 0 24rpx;
            line-height: 28rpx;
            &.current {
                position: relative;
                z-index: 10;
                margin-top: -2rpx;
                background: #fff;
                font-weight: 700;
                .text {
                    &:after {
                        display: none;
                    }
                }
            }
            .icon {
                display: inline-block;
                vertical-align: top;
                width: 24rpx;
                height: 24rpx;
                margin-right: 4rpx;
                background-size: 24rpx 24rpx;
                background-repeat: no-repeat;
            }
            .text {
                display: table-cell;
                width: 112rpx;
                vertical-align: middle;
                position: relative;
                font-size: 24rpx;
                &:after {
                    display: block;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    border-top: 2rpx solid rgba(7, 17, 27, 0.1);
                    content: "";
                }
            }
        }
    }
    .goods-wrapper {
        flex: 1;
        .title {
            padding-left: 28rpx;
            height: 52rpx;
            line-height: 52rpx;
            border-left: 4rpx solid #d9dde1;
            font-size: 24rpx;
            color: #93999f;
            background: #f3f5f7;
        }
        .goods-item {
            display: flex;
            margin: 36rpx;
            padding-bottom: 36rpx;
            position: relative;
            &:after {
                display: block;
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                border-top: 2rpx solid rgba(7, 17, 27, 0.1);
                content: "";
            }
            &:last-child {
                margin-bottom: 0;
                &:after {
                    display: none;
                }
            }
            .icon {
                flex: 0 0 114rpx;
                margin-right: 20rpx;
                img {
                    width: 114rpx;
                    height: 114rpx;
                }
            }
            .content {
                flex: 1;
                .name {
                    margin: 4rpx 0 16rpx 0;
                    height: 28rpx;
                    line-height: 28rpx;
                    font-size: 28rpx;
                    color: #07111b;
                }
                .desc {
                    line-height: 24rpx;
                    margin-bottom: 16rpx;
                }
                .extra {
                    .count {
                        margin-right: 24rpx;
                    }
                }
                .price {
                    font-weight: 700;
                    line-height: 48rpx;
                    .now {
                        margin-right: 16rpx;
                        font-size: 28rpx;
                        color: #f01414;
                    }
                    .old {
                        text-decoration: line-through;
                        font-size: 20rpx;
                        color: #93999f;
                    }
                }
                .cartcontrol-wrapper {
                    position: absolute;
                    right: 0;
                    bottom: 24rpx;
                }
            }
        }
    }
}
.goods .goods-wrapper .goods-item .content .desc, .goods .goods-wrapper .goods-item .content .extra {
    line-height: 20rpx;
    font-size: 20rpx;
    color: #93999f;
}
.container-body {
    font-size: 24rpx;
    position: absolute;
    top: 80rpx;
    bottom: 0;
    overflow: hidden;
    .list-item {
        padding-top: 10rpx;
        margin-top: 10rpx;
        background-color: #fff;
        .header {
            .avatar {
                display: inline-block;
                vertical-align: middle;
                width: 100rpx;
                padding-left: 20rpx;
                img {
                    width: 80rpx;
                    height: 80rpx;
                    border-radius: 50%;
                }
            }
            .info {
                display: inline-block;
                vertical-align: middle;
                width: 480rpx;
                .age {
                    margin-top: 10rpx;
                    background-color: #EB6231;
                    color: #fff;
                    width: 80rpx;
                    border-radius: 20rpx;
                    text-align: center;
                    font-size: 20rpx;
                    color: #fff;
                    .iconfont {
                        font-size: 20rpx;
                    }
                }
            }
            .more {
                display: inline-block;
                vertical-align: middle;
                text-align: center;
                width: 150rpx;
                transform: rotate(90deg);
                color: #A0A0A0;
            }
        }
        .content {
            padding: 0 20rpx;
            .txt {
                font-size: 28rpx;
                padding-top: 10rpx;
            }
            .images {
                img {
                    width: calc(690rpx/3);
                    height: calc(690rpx/3);
                    margin: 10rpx 0 0 10rpx;
                    &:nth-child(3n+1) {
                        margin-left: 0;
                    }
                }
            }
        }
        .information {
            position: relative;
            padding: 20rpx;
            &:after {
                content: "";
                position: absolute;
                margin-left: 20rpx;
                z-index: 0;
                bottom: 0;
                left: 0;
                width: 730rpx;
                border-bottom: 1rpx solid #ECECEB;
                -webkit-transform: scaleY(.5);
                transform: scaleY(.5);
                -webkit-transform-origin: 0 0;
                transform-origin: 0 0;
            }
            .left, .right {
                display: inline-block;
                vertical-align: middle;
                width: 50%;
            }
            .location {
                background-color: #F5F5F5;
                padding: 10rpx;
                color: #888888;
            }
            .right {
                color: #A0A0A0;
                text-align: right;
            }
        }
        .operation {
            position: relative;
            padding: 10rpx 20rpx;
            color: #A0A0A0;
            .left, .right {
                display: inline-block;
                vertical-align: middle;
                width: 50%;
            }
            .left {
                .write {
                    margin-left: 30rpx;
                }
            }
            .right {
                text-align: right;
            }
        }
    }
    .marginTop {
        &:first-child {
            margin-top: 0;
        }
    }
}
.add {
    position: fixed;
    bottom: 60rpx;
    right: 40rpx;
    width: 100rpx;
    height: 100rpx;
    border-radius: 50%;
    background-color: #ffd300;
    line-height: 100rpx;
    text-align: center;
    .iconfont {
        font-size: 80rpx;
    }
}
.mask {
    z-index: 10002;
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
    pointer-events: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: opacity .2s ease-in;
    transition: opacity .2s ease-in;
}
.user {
    background-color: #f8f8f9;
    padding: 0 20rpx;
    display: flex;
    align-items: center;
    z-index: 10003;
    position: absolute;
    top: calc(50% - 60rpx);
    left: calc(50% - 300rpx);
    height: 120rpx;
    width: 560rpx;
    &-avatar, &-info, &-arrow {
        display: inline-block;
        vertical-align: middle;
        vertical-align: middle;
    }
    &-avatar {
        width: 80rpx;
        height: 80rpx;
        border-radius: 50%;
        margin-right: 20rpx;
    }
    &-info {
        width: 430rpx;
    }
    &-arrow {
        width: 30rpx;
        color: rgba(0, 0, 0, 0.3);
    }
    &-name {
        font-size: 28rpx;
        color: #000;
    }
    &-gender {
        margin-left: 10rpx;
        font-size: 28rpx;
        color: rgba(0, 0, 0, 0.3);
    }
    &-name, &-gender, &-floor, &-seat {
        display: inline-block;
        vertical-align: middle;
    }
    &-floor {
        font-size: 24rpx;
        color: rgba(0, 0, 0, 0.3);
    }
    &-seat {
        margin-left: 10rpx;
        font-size: 24rpx;
        color: rgba(0, 0, 0, 0.3);
    }
}